<template>
  <div class="app-container">
    <el-form >
      <el-form-item>
         <el-button type="primary" size="small" @click="init()">刷新</el-button>
         <el-button type="danger" size="small">剔除所有會員</el-button>
      </el-form-item>
    </el-form>
    <my-table
      ref="myTable"
      :loading="loading"
      :data="tableData"
      highlight-current-row
      :columns="columns"
      @paging-current-change="handlePagingCurrentChange"
      :current-page="queryForm.current_page"
      :page-size="queryForm.page_size"
      :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
import { getOnline, getToEliminate } from '@/api/user'
import { myFormatDate } from '@/utils/general'
export default {
  name: "Online",
  components: { MyTable },
  data () {
    return {
      loading: false,
      tableTotal: 3,
      columns: [
         {
          label: '剔除',
          render: (h, { row }) => <el-button on-click={() => this.ToEliminate(row)} type="danger" size="mini">剔除</el-button> 
        },
         {
          label: '會員',
          prop: 'username',
          width: 120,
        },
        {
          label: '登入IP',
          prop: 'loginId'
        },
        {
          label: '最後登入時間',
          render: (h, { row }) => <span>{myFormatDate(row.betAt)}</span> 
          // prop: 'betAt'
        },
      ],
      tableData: [],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.loading = true
      getOnline().then(res => {
          if (res.errorCode === 200) {
            this.tableData = res.data.list
            this.tableTotal = res.data.count
          } else {
            this.$message.error(res.errorMessage);
          }
           this.loading = false
        }).catch(err => {
          this.tableData = []
          console.log(err)
        })
    },
    ToEliminate(row) {
      this.$confirm('確認剔除, 是否繼續?', '提示', {
          confirmButtonText: '確定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          getToEliminate({loginId: row.loginId}).then(res => {
            if (res.errorCode === 200) {
              this.$message({
                type: 'success',
                message: '剔除成功!'
              });
              this.init()
            } else {
              this.$message.error(res.errorMessage);
            }
          }).catch(err => {
            this.tableData = []
            console.log(err)
          })       
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消剔除'
          });          
        })
    },
    handlePagingCurrentChange() {

    }
  }
}
</script>

<style scoped>

</style>
