<template>
  <div class="app-container">
    <el-form >
      <el-form-item>
         <el-button type="primary" size="small">變更密碼</el-button>
      </el-form-item>
    </el-form>
    <el-row>
      <el-col :span="4">賬號</el-col>
      <el-col :span="4">使用者名稱</el-col>
      <el-col :span="4">額度</el-col>
      <el-col :span="4">允許下註</el-col>
      <el-col :span="8">拆帳百分比</el-col>
    </el-row>
    <el-row>
      <el-col :span="4">11</el-col>
      <el-col :span="4">11</el-col>
      <el-col :span="4">1</el-col>
      <el-col :span="4">11</el-col>
      <el-col :span="8">11</el-col>
    </el-row>

    <el-collapse v-model="activeNames" @change="handleChange">
      <el-collapse-item title="美棒" name="1">
        <my-table
          ref="myTable"
          :loading="loading"
          :data="tableData"
          highlight-current-row
          :columns="columns"
          :paging="false"
          />
      </el-collapse-item>
      <el-collapse-item title="美棒" name="2">


      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>

import MyTable from '@/components/MyTable'
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: { MyTable },
  data() {
    return {
      list: null,
      activeNames:'',
      loading: false,
      tableTotal: 3,
      columns: [
        {
          label: '棒球全場',
          prop: 'bqqc',
        },
        {
          label: '讓分',
          prop: 'rangfen',
        },
        {
          label: '大小',
          prop: 'daxiao'
        },
        {
          label: '獨贏',
          prop: 'duyin'
        },
        {
          label: '一輸',
          prop: 'yishu'
        },
        {
          label: '單雙',
          prop: 'danshuang'
        },
        {
          label: '過關',
          prop: 'guoguan'
        },
      ],
      tableData: [
        {bqqc: '2022', rangfen: '我的类型', daxiao: '我的内容',duyin:'222',yishu:'2332',danshuang:"55",guoguan:"555"},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  created() {

  },
  methods: {
    handleChange() {

    },
    handlePagingCurrentChange() {

    }
  }
}
</script>
<style lang="scss" scoped>
  .el-row {
    color: #606266;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
  }

</style>
