<template>
  <div class="app-container">
    <el-form >
      <el-form-item>
        <el-button type="primary" size="small">新增子賬號</el-button>
      </el-form-item>
    </el-form>
    <my-table
      ref="myTable"
      :loading="loading"
      :data="tableData"
      highlight-current-row
      :columns="columns"
      @paging-current-change="handlePagingCurrentChange"
      :current-page="queryForm.current_page"
      :page-size="queryForm.page_size"
      :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "Sub",
  components: { MyTable },
  data () {
    return {
      loading: false,
      tableTotal: 3,
      columns: [
        {
          label: '賬號',
          prop: 'shijian',
          width: 120,
        },
         {
          label: '名稱',
          prop: 'leixing',
          width: 120,
        },
        {
          label: '身份',
          prop: 'neirong'
        },
        {
          label: '允許登入',
          prop: 'neirong'
        },
        {
          label: '備註',
          prop: 'neirong'
        },
      ],
      tableData: [
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  methods: {
    handlePagingCurrentChange() {

    }
  }
}
</script>

<style lang="scss" scoped>

</style>
