<template>
  <div class="app-container">
    <div class="dashboard-text">
      <my-table
        ref="myTable"
        :loading="loading"
        :data="tableData"
        highlight-current-row
        :columns="columns"
        @paging-current-change="handlePagingCurrentChange"
        :current-page="queryForm.current_page"
        :page-size="queryForm.page_size"
        :total="tableTotal"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import MyTable from '@/components/MyTable'
export default {
  name: 'Dashboard',
  components: { MyTable },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  data () {
    return {
      loading: false,
      tableTotal: 3,
      columns: [
        {
          label: '時間',
          prop: 'shijian',
          width: 120,
        },
         {
          label: '類型',
          prop: 'leixing',
          width: 120,
        },
        {
          label: '内容',
          prop: 'neirong'
        },
      ],
      tableData: [
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  methods: {
    handlePagingCurrentChange() {

    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
