@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.el-input__inner{
  border: 1px solid #ffffff;
  border-bottom: 1px solid #DCDFE6;
}
.el-textarea__inner{
  border: 1px solid #ffffff;
  border-bottom: 1px solid #DCDFE6;
}

// main-container global css
.app-container {
  padding: 20px;
}
.form-flex{
  display: flex;
}
.form-flex-checkbox{
  margin-left: 30px;
}
.form-flex-button{
  display: flex;
  justify-content: flex-end;
}
.el-collapse-item__header{
  font-size: 16px;
  font-weight: bold;
}
