<template>
  <div class="app-container">
    <el-form :model="queryData" :inline="true">
      <el-form-item label="日期範圍">
         <el-date-picker
            v-model="queryData.date"
            type="daterange"
            align="left"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions">
          </el-date-picker>
        </el-date-picker>
      </el-form-item>
      <el-form-item >
        <el-input v-model="queryData.input" placeholder="賬號"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="small">搜索</el-button>
      </el-form-item>
    </el-form>
    <my-table
    ref="myTable"
    :loading="loading"
    :data="tableData"
    highlight-current-row
    :columns="columns"
    @paging-current-change="handlePagingCurrentChange"
    :current-page="queryForm.current_page"
    :page-size="queryForm.page_size"
    :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "change",
  components: { MyTable },
  data () {
    return {
      queryData:{
        date: [],
        input: '',
      },
      tableTotal: 3,
      columns: [
         {
          label: '賬號',
        },
         {
          label: '昵稱',
          prop: 'leixing',
        },
        {
          label: '類型',
          prop: 'neirong'
        },
        {
          label: '交易編號',
          prop: 'neirong'
        },
         {
          label: '余額',
          prop: 'neirong'
        },
        {
          label: '操作人',
          prop: 'neirong'
        },
         {
          label: '操作時間',
          prop: 'neirong'
        }
      ],
      tableData: [
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
   }
}
</script>

<style scoped>

</style>
