<template>
  <div class="app-container">
    <el-form :model="queryData" :inline="true" :label-position="left">
      <el-form-item label="日期範圍">
         <el-date-picker
            v-model="queryData.date"
            type="daterange"
            align="left"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions">
          </el-date-picker>
        </el-date-picker>
      </el-form-item>
      <el-form-item >
        <el-input  class="isIndete" v-model="queryData.input" placeholder="賬號"></el-input>
      </el-form-item>
      <el-form-item label="類型" class="form-flex">
        <div class="form-flex">
          <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全部</el-checkbox>
          <el-checkbox-group class="form-flex-checkbox" v-model="queryData.date" @change="handleCheckedChange">
            <el-checkbox v-for="city in checked" :label="city" :key="city">{{city}}</el-checkbox>
          </el-checkbox-group>
        </div>
      </el-form-item>

      <el-form-item label="玩法" >
        <div class="form-flex">
          <el-checkbox :indeterminate="isIndeterminatePlay" v-model="checkAllPlay" @change="handleCheckAllChangePlay">全部</el-checkbox>
          <el-checkbox-group class="form-flex-checkbox" v-model="queryData.date2" @change="handleCheckedChangePlay">
            <el-checkbox v-for="city in checkedPlay" :label="city" :key="city">{{city}}</el-checkbox>
          </el-checkbox-group>
        </div>
      </el-form-item>
      <el-form-item class="form-flex-button">
        <el-button type="primary" size="small"> 搜 索 </el-button>
      </el-form-item>
    </el-form>
    <my-table
    ref="myTable"
    :loading="loading"
    :data="tableData"
    highlight-current-row
    :columns="columns"
    @paging-current-change="handlePagingCurrentChange"
    :current-page="queryForm.current_page"
    :page-size="queryForm.page_size"
    :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "generalledger",
  components: { MyTable },
  data () {
    return {
      checked: ['全場', '上半場', '下半場', '第一節', '第二節', '第三節', '第四節', '滚球', '滚球上半', '滚球下半', '多種玩法'],
      checkedPlay: ['讓分', '大小', '獨贏', '單雙', '一輸二贏', '搶首分', '搶尾分', '單比最高得分', '過開', '半全場', '入球數'],
      checkAll: false,
      isIndeterminate: true,
      checkAllPlay: false,
      isIndeterminatePlay: true,
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一個月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三個月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      loading: false,
      tableTotal: 3,
        queryData:{
        date: [],
        input: '',
        date2: []
      },
      options: [
        {
          value: '选项1',
          label: '选项1'
        }
      ],
      columns: [
         {
          label: '賬號',
        },
         {
          label: '密碼',
          prop: 'leixing',
        },
        {
          label: '筆數',
          prop: 'neirong'
        },
        {
          label: '下註金額',
          prop: 'neirong'
        }
      ],
      tableData: [
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  methods: {
    handlePagingCurrentChange() {

    },
    handleCheckAllChange(val) {
      this.queryData.date = val ? this.checked : [];
      this.isIndeterminate = false;
    },
    handleCheckedChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.checked.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.checked.length;
    },
    handleCheckAllChangePlay(val) {
      this.queryData.date2 = val ? this.checkedPlay : [];
      this.isIndeterminatePlay = false;
    },
    handleCheckedChangePlay() {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.checkedPlay.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.checkedPlay.length;
    }
  }
}
</script>

<style scoped lang="scss">
 .isIndete{
  //  width: 50%;
 }
 .form-flex{
   display: flex;
 }
 .form-flex-checkbox{
   margin-left: 30px;
 }
 .form-flex-button{
   display: flex;
   justify-content: flex-end;
 }
</style>
