<template>
   <div class="app-container">
    <el-form :model="queryData" :inline="true">
      <el-form-item label="日期範圍">
         <el-date-picker
            v-model="queryData.date"
            type="daterange"
            align="left"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions">
          </el-date-picker>
        </el-date-picker>
      </el-form-item>
      <el-form-item >
        <el-input v-model="queryData.input" placeholder="單號"></el-input>
      </el-form-item>
      <el-form-item >
        <el-input v-model="queryData.input" placeholder="賬號"></el-input>
      </el-form-item>
      <el-form-item >
        <el-select v-model="queryData.input" placeholder="下註類型">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item >
      <el-form-item >
        <el-select v-model="queryData.input" placeholder="球類">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item >
       <el-form-item >
        <el-select v-model="queryData.input" placeholder="下註狀態">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item >
      <el-form-item>
         <el-button type="primary" size="small">搜索</el-button>
      </el-form-item>
    </el-form>
    <my-table
      ref="myTable"
      :loading="loading"
      :data="tableData"
      highlight-current-row
      :columns="columns"
      @paging-current-change="handlePagingCurrentChange"
      :current-page="queryForm.current_page"
      :page-size="queryForm.page_size"
      :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "Instantbetting",
  components: { MyTable },
  data () {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一個月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三個月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      loading: false,
      tableTotal: 3,
      queryData:{
        date: '',
        input: ''
      },
      options: [
        {
          value: '选项1',
          label: '选项1'
        }
      ],
      columns: [
         {
          label: '賬號',
        },
         {
          label: '密碼',
          prop: 'leixing',
        },
        {
          label: '筆數',
          prop: 'neirong'
        },
        {
          label: '下註金額',
          prop: 'neirong'
        },
        {
          label: '會員',
          prop: 'neirong'
        },
        {
          label: '代理',
          prop: 'neirong'
        },
        {
          label: '總代理',
          prop: 'neirong'
        },
        {
          label: '股東',
          prop: 'neirong'
        },
        {
          label: '大股東',
          prop: 'neirong'
        },
        {
          label: '手續費',
          prop: 'neirong'
        },
        {
          label: '上繳手續費',
          prop: 'neirong',
          width: 120,
        },
        {
          label: '貢獻',
          prop: 'neirong'
        },
        {
          label: '貢獻度%',
          prop: 'neirong'
        },
        {
          label: '足球',
          prop: 'neirong'
        },
      ],
      tableData: [
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
        {shijian: '2022', leixing: '我的类型', neirong: '我的内容'},
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      }
    }
  },
  methods: {
    handlePagingCurrentChange() {

    }
  }
}
</script>

<style lang="scss" scoped>

</style>
