<template>
  <div>
    <my-table
      ref="myTable"
      :loading="loading"
      :data="tableData"
      highlight-current-row
      :columns="columns"
      @paging-current-change="handlePagingCurrentChange"
      :current-page="queryForm.current_page"
      :page-size="queryForm.page_size"
      :total="tableTotal"/>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "TreeBody",
  components: { MyTable },
  data () {
    return {
      loading: false,
      tableTotal: 3,
      columns: [
        {
          label: '操作',
          render: (h, { row }) => <span on-click={() => this.goupdata(row)} > <el-link type="success">操作</el-link></span>
        },
        {
          label: '特帳帳號',
          prop: 'veryaccount',
        },
        {
          label: '使用者名稱',
          prop: 'name'
        },
        {
          label: '新增時間',
          prop: 'time'
        },
        {
          label: '允許登入',
          render: (h, { row }) => <el-checkbox v-model={row.islogin} ></el-checkbox>
        },
        {
          label: '體育允許下注',
          render: (h, { row }) => <el-checkbox v-model={row.isbet}></el-checkbox>
        },
        {
          label: '延遲秒數',
          prop: 'delay_time'
        },
        {
          label: '滾球延遲',
          prop: 'grounder_delay'
        },
        {
          label: '體育額度',
          prop: 'amount'
        },
        {
          label: '足球',
          prop: 'football'
        },
        {
          label: '下層數量',
          prop: 'child_num'
        },
        {
          label: '新增下層',
          prop: 'add_child'
        },
      ],
      tableData: [
        {veryaccount: '??', name: '张三', time: '2021-03-20',islogin:false,isbet:true,delay_time:0,grounder_delay:0,amount:30000,football:97,child_num:7},
        {veryaccount: '??', name: '张三', time: '2021-03-20',islogin:true,isbet:true,delay_time:0,grounder_delay:0,amount:30000,football:97,child_num:7},
        {veryaccount: '??', name: '张三', time: '2021-03-20',islogin:true,isbet:true,delay_time:0,grounder_delay:0,amount:30000,football:97,child_num:7}
      ],
      queryForm: {
        current_page: 0,
        page_size: 10,
      },
      nodeid:''
    }
  },
  methods: {
    handlePagingCurrentChange() {

    },
    goupdata(row){
      this.$router.push({path:'/level/tree/updata', query:{id: row.football}})
    }
  },
  mounted() {
    this.nodeid = this.$route.query.id
  }
}
</script>

<style scoped>

</style>
