<template>
  <div class="tree">
    <div class="app-container">
      <el-input v-model="filterText" placeholder="Filter keyword" style="margin-bottom:30px;" />
      <el-tree
        ref="tree2"
        :data="data2"
        :props="defaultProps"
        :filter-node-method="filterNode"
        @node-click="handleTreeNodeClick"
        class="filter-tree"
        highlight-current
        default-expand-all
      />
    </div>
    <div class="tree-body">
      <router-view />
    </div>
  </div>

</template>

<script>
import { getToTree } from '@/api/user'
export default {

  data() {
    return {
      filterText: '',
      data2: [{
        id: 1,
        label: '一级1',
        children: [{
          id: 4,
          label: '一级1-1',
          children: [{
            id: 9,
            label: '一级1-1-1'
          }, {
            id: 10,
            label: '一级1-1-2'
          }]
        }]
      }, {
        id: 2,
        label: '一级2',
        children: [{
          id: 5,
          label: '一级2-1'
        }, {
          id: 6,
          label: '一级2-2'
        }]
      }, {
        id: 3,
        label: '一级3',
        children: [{
          id: 7,
          label: '一级3-1'
        }, {
          id: 8,
          label: '一级3-2'
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'username',
        id: "id"
      }
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree2.filter(val)
    }
  },
  created() {
    this.init()
  },
  components:{

  },
  methods: {
    init() {
      getToTree().then(res => {
        if (res.errorCode === 200) {
          this.data2 = res.data
        } else {
          this.$message.error(res.errorMessage);
        }
      }).catch(err => {
        console.log(err)
      })   
    },
    filterNode(value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    handleTreeNodeClick(data, node, elem){
      console.log(data);
      console.log(node);
      console.log(elem);
      this.$router.push({path:'/level/tree/treebody',query: {id:data.id}})
    }
  }
}
</script>
<style lang="scss" scoped>
.tree {
  display: flex;
  min-height: calc(100vh - 50px);
  .app-container{
    min-width: 230px;
    min-height: calc(100vh - 50px);
    border-right: 1px solid #f1f1f1;
  }
  .tree-body{
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 50px);
  }
}
</style>
