<template>
  <div class="app-container">
    <h2></h2>
    <el-form :model="queryData" :inline="true">
      <el-row>
        <el-col :span="20">
          <el-button type="info" size="small">刪除賬號</el-button>
          <el-button type="primary" size="small">修改額度</el-button>
          <el-button type="primary" size="small">變更密碼</el-button>
        </el-col>
        <el-col :span="4">
          <el-button type="success" size="small"  @click="submitForm('ruleForm')">確認修改</el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item>
          <el-date-picker
              v-model="queryData.date"
              type="datetime"
              align="left"
              placeholder="修改時間">
            </el-date-picker>
          </el-date-picker>
        </el-form-item>
        <el-form-item >
          <el-input v-model="queryData.input" placeholder="賬號"></el-input>
        </el-form-item>
        <el-form-item >
          <el-input v-model="queryData.input" placeholder="使用者名稱"></el-input>
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item >
          <el-input v-model="queryData.input" placeholder="輸入額度"></el-input>
        </el-form-item>
        <el-form-item >
          <el-input v-model="queryData.input" type="textarea" :rows="1" placeholder="備註"></el-input>
        </el-form-item>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="允許登入">
            <el-radio-group v-model="queryData.input">
              <el-radio :label="1">是</el-radio>
              <el-radio :label="0">否</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-form-item label="下線允許投註">
          <el-radio-group v-model="queryData.input">
            <el-radio :label="1">是</el-radio>
            <el-radio :label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-row>
      <el-collapse v-model="activeNames" @change="handleChange">
        <el-collapse-item title="球類佔成" name="1">
          <my-table
            ref="myTable"
            :loading="loading"
            :data="tableData"
            highlight-current-row
            :columns="columns"
            :paging="false"
          />
        </el-collapse-item>
        <el-collapse-item title="資訊設定" name="2">
          <el-form :model="Informationdata" :rules="rules" ref="ruleForm"  :inline="true" label-position="left">
            <el-form-item label="展示修改類別" class="form-flex">
              <div class="form-flex">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全部</el-checkbox>
                <el-checkbox-group class="form-flex-checkbox" v-model="Informationdata.type" @change="handleCheckedChange">
                  <el-checkbox v-for="city in checked" :label="city" :key="city">{{city}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
            <el-form-item label="快速設定" class="form-flex">
              <div class="form-flex">
                <el-checkbox :indeterminate="isIndeterminateBoll" v-model="checkAllBoll" @change="handleCheckAllChangeBoll">全部</el-checkbox>
                <el-checkbox-group class="form-flex-checkbox" v-model="Informationdata.type2" @change="handleCheckedChangeBoll">
                  <el-checkbox v-for="city in checkedBoll" :label="city" :key="city">{{city}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
            <el-form-item label="類型" prop='type3'>
              <div class="form-flex">
                <el-checkbox :indeterminate="isIndeterminateType" v-model="checkAllType" @change="handleCheckAllChangeType">全部</el-checkbox>
                <el-checkbox-group class="form-flex-checkbox" v-model="Informationdata.type3" @change="handleCheckedChangeType">
                  <el-checkbox v-for="city in checkedType" :label="city" :key="city">{{city}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
            <el-form-item label="快速設定金額" class="form-flex">
              <el-row>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="返水-A盤"></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="返水-B盤"></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="返水-C盤"></el-input>
                </el-col>
                 <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="單註"></el-input>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="單場"></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="單邊"></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input  class="isIndete" type="number" v-model="queryData.input" placeholder="過開"></el-input>
                </el-col>
              </el-row>
            </el-form-item>
          </el-form>
        </el-collapse-item>
        <el-collapse-item title="美棒" name="3">
        </el-collapse-item>
        <el-collapse-item title="韓棒" name="4">
        </el-collapse-item>
        <el-collapse-item title="日棒" name="5">
        </el-collapse-item>
        <el-collapse-item title="台棒" name="6">
        </el-collapse-item>
        <el-collapse-item title="足球" name="7">
        </el-collapse-item>
        <el-collapse-item title="藍球" name="8">
        </el-collapse-item>
      </el-collapse>
    </el-form>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
export default {
  name: "updata",
  components: { MyTable },
  data() {
    return {
      nodoid:{},
      activeNames:'',
      checked: [ '美棒', '韓棒', '日棒', '台棒', '足球', '藍球'],
      checkedType: [ '各項設定(全部)', '各項設定(不含滾球,過開)', '只設定滾球', '只設定過開)'],
      checkedBoll: [ '美棒', '韓棒', '日棒', '台棒', '足球', '藍球'],
      checkAll: false,
      isIndeterminate: true,
      checkAllPlay: false,
      checkAllBoll: false,
      isIndeterminatePlay: true,
      isIndeterminateBoll: true,
      checkAllType: false,
      isIndeterminateType: true,
      queryData: {
        date: '',
        input: ''
      },
      Informationdata:{
        type:[],
        type2: [],
        type3: []
      },
      rules:{
        type3: [{type: 'array', required: true, message: '必須選擇一種', trigger: 'change' }]
      },
      loading: false,
      columns: [
        {
          label: '比賽類別',
          prop: 'bqqc',
        },
        {
          label: '全部設為',
          prop: 'rangfen',
        },
        {
          label: '美棒',
          prop: 'daxiao'
        },
        {
          label: '韓棒',
          prop: 'duyin'
        },
        {
          label: '日棒',
          prop: 'yishu'
        },
        {
          label: '台棒',
          prop: 'danshuang'
        },
        {
          label: '美藍',
          prop: 'guoguan'
        },
        {
          label: '足球',
          prop: 'guoguan'
        },
      ],
      tableData: [
        {bqqc: '2022', rangfen: '我的类型', daxiao: '我的内容',duyin:'222',yishu:'2332',danshuang:"55",guoguan:"555"},
      ],
    }
  },
  methods: {
    handleChange() {

    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleCheckAllChange(val) {
      this.isIndeterminate = false;
      this.Informationdata.type = val ? this.checked : [];
    },
    handleCheckedChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.checked.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.checked.length;
    },
    handleCheckAllChangeBoll(val) {
      this.isIndeterminateBoll = false;
      this.Informationdata.type2 = val ? this.checkedBoll : [];
    },
    handleCheckedChangeBoll(value) {
      let checkedCount = value.length;
      this.checkAllBoll = checkedCount === this.checkedBoll.length;
      this.isIndeterminateBoll = checkedCount > 0 && checkedCount < this.checkedBoll.length;
    },
    handleCheckAllChangeType(val) {
      this.isIndeterminateType = false;
      this.Informationdata.type3 = val ? this.checkedType : [];
    },
    handleCheckedChangeType(value) {
      let checkedCount = value.length;
      this.checkAllType = checkedCount === this.checkedType.length;
      this.isIndeterminateType = checkedCount > 0 && checkedCount < this.checkedType.length;
    },
  },
  created() {
    console.log(this.$route.query.id);
    this.nodoid = this.$route.query.id
  }

}
</script>

<style scoped>
  .el-row {
    margin-bottom: 20px;
  }
</style>
