<template>
  <div class="my-tabble">
    <el-table
      ref="elTable"
      v-loading="loading"
      element-loading-text="加载中.."
      v-bind="$attrs"
      v-on="$listeners"
      
      :header-cell-style="{background: '#304156',color: '#fff'}"
    >
      <!-- 根据是否有 type 区分渲染渲染 是否有复选框、下标、扩展等 -->
      <el-table-column
        v-for="(column, index) in columns"
        v-if="column.type"
        :key="index"
        :prop="column.prop"
        :selectable="column.selectable"
        :label="column.label"
        :type="column.type"
        :width="column.width"
        :fixed="column.fixed"
        align="center"
      >
      </el-table-column>
      <!-- 根据type区分渲染 -->
      <el-table-column
        v-for="(column, index) in columns"
        v-if="!column.type"
        :key="column.prop || ''+column.label+index"
        :type="column.type"
        :index="column.index"
        :label="column.label"
        :min-width="column.minWidth"
        :width="column.width"
        :fixed="column.fixed"
        :show-overflow-tooltip="column.showOverflowTooltip"
        align="center"
      >
        <template slot-scope="scope">
          <my-table-column-render
            v-if="column.render"
            :index="scope.index"
            :row="scope.row"
            :render="column.render"
          />
          <template v-else>{{scope.row[column.prop]}}</template>
        </template>
      </el-table-column>
    </el-table>
    <div
      v-if="paging"
      class="my-tabble-paging"
    >
      <el-pagination
        background
        v-bind="$attrs"
        @current-change="handlePagCurrentChange"
        layout="total, prev, pager, next, jumper"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import myTableColumnRender from './myTableColumnRender'

export default {
  name: 'myTable',
  components: { myTableColumnRender },
  props: {
    columns: {
      type: Array,
      default: () => []
    },
    paging: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handlePagCurrentChange(val) {
      this.$emit('paging-current-change', val) // 表单分页时间派发
    }
  }
}
</script>

<style scoped lang="scss">
.my-tabble-paging {
  text-align: right;
  margin-top: 20px;
}
</style>
